<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>daily</title>
<link rel="stylesheet" href="assets/css/daily.css" />
<script src="assets/js/daily.js" defer></script>
</head>
<body>
	<!-- 상단바 위치 -->
	<section class="daily">
		<h1>12월</h1>
		<section class="weekend">
			<button class="before-btn" id="before-btn">▲</button>
			<ul class="weekdays">
				<!--날짜 표시 부분-->
				<!-- 금액을 표시할 영역 -->
				<div class="amount"></div>
			</ul>
			<button class="next-btn" id="next-btn">▼</button>
		</section>

		<section class="details">
			<div class="income">
				<h2>수입</h2>
				<ul class="income-list">
					<!--수입내역 표시 부분-->
				</ul>
			</div>

			<div class="incometotal-box">
				<div class="total-cash">현금 잔액:</div>
				<div class="total-income">총 수입:</div>
			</div>
		</section>
		<section class="details">
			<div class="expense">
				<h2>지출</h2>
				<ul class="expense-list">
					<!--지출내역 표시 부분-->
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="expensetotal-box">
				<div class="total-cash">현금:</div>
				<div class="total-card">카드:</div>
				<div class="total-expense">총 지출:</div>
			</div>
		</section>
	</section>
</body>
</html>
