<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join</title>
<link rel="stylesheet" href="assets/css/join.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="join-box">
      <!-- 로고와 페이지 이름 -->
      <div class="logo">
        <img
          src="images/logo.jpg"
          alt="Lucky Piggy Logo"
          width="100"
          height="100"
        />
        <h2>LUCKY PIGGY</h2>
      </div>
      <!-- 아이디/비밀번호 입력창 -->
      <form action="join.do" method="post">
        <div class="input-group">
          <input
            type="text"
            id="user_id"
            name="user_id"
            placeholder="아이디를 입력하세요"
            required
          />
          <!-- 중복확인 버튼 -->
          <button type="button" class="check-btn">중복확인</button>
          <br />
          <input
            type="password"
            id="user_pw"
            name="user_pw"
            placeholder="비밀번호를 입력하세요"
            required
          />
        </div>
        <!-- 닉네임임 입력창 -->
        <div class="user_nick">
          <input
            type="text"
            id="user_nick"
            name="user_nick"
            placeholder="닉네임을 입력하세요"
          />
          <!-- 중복확인 버튼 -->
          <button type="button" class="check-btn">중복확인</button>
        </div>
      </form>
    </div>
    <div class="card-box">
      <h3>카드등록</h3>
      <!-- 별칭, 카드사, 카드번호, 실적 입력창 -->
      <form action="card.do" method="post">
        <div class="input-group">
          <input
            type="hidden"
            id="user_id"
            name="user_id"
            th:value="${session.user.userId}"
          />
          <input
            type="text"
            id="card_nm"
            name="card_nm"
            placeholder="별칭"
            required
          />
          <select id="card_type" name="card_type">
            <option value="체크">체크카드</option>
            <option value="신용">신용카드</option>
          </select>
          <input
            type="text"
            id="card_com"
            name="card_com"
            placeholder="카드사"
            required
          />
          <input
            type="text"
            oninput="this.value=this.value.replace(/[^-0-9]/g,'');"
            id="card_num"
            name="card_num"
            placeholder="카드번호"
            required
          />
          <input
            type="text"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/\d(?=(?:\d{3})+$)/g, '$&,')"
            id="benefit_std"
            name="benefit_std"
            placeholder="이용실적 기준 금액"
          />
          <input
            type="text"
            id="benefit_content"
            name="benefit_content"
            placeholder="카드혜택"
          />
        </div>
      </form>
    </div>
    <div class="account-box">
      <h3>계좌등록</h3>

      <!-- 별칭, 은행, 계좌번호, 예금주 입력창 -->
      <form action="account.do" method="post">
        <div class="input-group">
          <input
            type="hidden"
            id="user_id"
            name="user_id"
            th:value="${session.user.userId}"
          />
          <input
            type="text"
            id="acc_nm"
            name="acc_nm"
            placeholder="별칭"
            required
          />
          <input
            type="text"
            id="bank_nm"
            name="bank_nm"
            placeholder="은행"
            required
          />
          <input
            type="text"
            oninput="this.value=this.value.replace(/[^-0-9]/g,'');"
            id="acc_num"
            name="acc_num"
            placeholder="계좌번호"
            required
          />
        </div>
        <!-- 회원가입 버튼 -->
        <button type="submit" id="join-btn" class="join-btn">회원가입</button>
      </form>
    </div>
    <script type="text/javascript"></script>
  </body>
</html>