<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join</title>
    <link rel="stylesheet" href="assets/css/join.css" />
  </head>
  <body>
    <div class="join-box">
      <!-- 로고와 페이지 이름 -->
      <div class="logo">
        <img
          src="../img/logo.jpg"
          alt="Lucky Piggy Logo"
          width="100"
          height="100"
        />
        <h2>LUCKY PIGGY</h2>
      </div>
      <!-- 아이디/비밀번호 입력창 -->
      <div class="input-group">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="아이디를 입력하세요"
          required
        />
        <!-- 중복확인 버튼 -->
        <button type="button" class="check-btn">중복확인</button>
        <br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="비밀번호를 입력하세요"
          required
        />
      </div>
      <!-- 닉네임임 입력창 -->
      <div class="nickname">
        <input
          type="text"
          id="nickname"
          name="nickname"
          placeholder="닉네임을 입력하세요"
        />
        <!-- 중복확인 버튼 -->
        <button type="button" class="check-btn">중복확인</button>
      </div>
      <!-- 회원가입 버튼 -->
      <button type="button" id="join-btn" class="join-btn">회원가입</button>
    </div>
  </body>
</html>
