<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="assets/css/login.css" />
  </head>
  <body>
    <div class="login-box">
      <!-- 로고와 페이지 이름 -->
      <div class="logo">
        <img
          src="images/logo.jpg"
          alt="Lucky Piggy Logo"
          width="200"
          height="200"
        />
        <h2>LUCKY PIGGY</h2>
      </div>
      <!-- 아이디/비밀번호 입력창 -->
	  <form action="login.do" method="post">
      <div class="input-group">
        <input
          type="text"
          id="user_id"
          name="user_id"
          placeholder="아이디를 입력하세요"
          required
        />
        <br>
        <input
          type="password"
          id="user_pw"
          name="user_pw"
          placeholder="비밀번호를 입력하세요"
          required
        />
      </div>
      <!-- 로그인 버튼 -->
      <button type="submit" id="login-btn" class="login-btn">로그인</button>
      </form>
      <!-- 아이디/비밀번호 찾기 -->
      <div class="forgot-password">
        <a href="/">아이디/비밀번호 찾기</a>
      </div>
      <!-- 회원가입 -->
      <div class="join">
        <a href="join">회원가입</a>
      </div>
    </div>
  </body>
</html>
