<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Main</title>
<canvas id="myChart"></canvas>
<link rel="stylesheet" href="assets/css/main.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
	<div class="cover">
		<header class="top-bar" th:replace="~{/top_bar}"></header>
		<div class="main" id="main">
			<!-- 상태바 -->
			<div class="condition-bar">
				<div class="condition">
					<div class="line"></div>
					<div class="line-progress"></div>
					<!-- Step markers -->
					<div class="step completed" data-progress="0%"></div>
					<div class="step" data-progress="25%"></div>
					<div class="step" data-progress="50%"></div>
					<div class="step" data-progress="75%"></div>
					<div class="step" data-progress="100%"></div>
				</div>
			</div>



			<!-- 도넛 차트 -->
			<div class="doughnut-container" id="doughnut-container"></div>
			<!-- 도넛차트가 동적으로 추가될 영역 -->


			<!-- 달력/최근소비내역 -->
			<div class="double" id="double">
				<!-- 달력 -->
				<div class="calendar" id="calendar">
					<!-- 요일 표시 -->
					<ul class="weeks">
						<li>Sun</li>
						<li>Mon</li>
						<li>Tue</li>
						<li>Wed</li>
						<li>Thu</li>
						<li>Fri</li>
						<li>Sat</li>
					</ul>
					<ul class="days"></ul>
					<!-- 날짜가 동적으로 추가될 영역 -->
				</div>
				<!-- 최근 소비 내역 -->
				<div class="recent-container">
					<h3>최근 소비 내역</h3>
					<div class="recent-list">
						<!-- 최근 소비내역이 동적으로 추가될 영역 -->
					</div>

				</div>
			</div>


			<!-- 라인 차트 -->
			<div class="bar-container" id="bar-container"></div>
			<!-- 라인 차트가 동적으로 추가될 영역 -->
			
		</div>
	</div>
	<script src="assets/js/main.js"></script>
</body>
</html>
