<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LUCKY PIGGY</title>
    <link rel="stylesheet" href="assets/css/start_page.css" />
  </head>
  <body>
    <div class="start-page">
      <!--로그인 버튼-->
      <button class="login-btn"><a href="/login">Login</a></button>
      <!--로고-->
      <div class="logo">
        <img src="images/logo.jpg" alt="로고" />
        <!--페이지이름-->
        <h1>LUCKY PIGGY</h1>
      </div>
      <div class="main-content">
        <div class="photo">
          <!--이미지 슬라이드 효과 들어갈 부분-->
        </div>
        <!--시연영상-->
        <div class="video">
          <video width="100%" height="100%" controls>
            <source src="../video/kwill.mp4" type="video/mp4">
          </video>
        </div></div>
      </div>
    </div>
    <script src="assets/js/start_page.js"></script>
  </body>
</html>
