<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>top_bar</title>
    <link rel="stylesheet" href="assets/css/top_bar.css" />
  </head>
  <body>
    <header class="header">
      <!--로고 누르면 메인화면으로 이동-->
      <div class="logo">
        <a href="main">
          <img src="/images/logo.jpg" />
        </a>
      </div>
      <div>
        <input type="text" placeholder="검색어를 입력하세요" />
      </div>
      <!--메뉴 아이콘 클릭시 토글메뉴 생성성-->
      <div class="menu-toggle" onclick="toggleMenu()">
        <img src="/images/menu.png" width="30" height="30" />
      </div>
      <!--메뉴 선택시 페이지 이동-->
      <div class="menu" id="menu">
        <ul>
          <a href="calendar">Calendar</a>
        </ul>
        <ul>
          <a href="daily">Daily</a>
        </ul>
        <ul>
          <a href="mypage">MyPage</a>
        </ul>
      </div>
    </header>
    <script>
      // 토글메뉴 -> 보이는 상태일 경우 숨기고, 숨겨져 있으면 보이게
      function toggleMenu() {
        var menu = document.getElementById("menu");
        if (menu.style.display === "block") {
          menu.style.display = "none";
        } else {
          menu.style.display = "block";
        }
      }
    </script>
  </body>
</html>
