/* 모든 페이지의 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* 모든 요소에 border와 padding이 포함된 크기를 적용 */
}

body {
  display: flex; /* 페이지 전체 중앙 정렬 */
  flex-direction: column; /* 세로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  width: 0; /* 세로 */
  height: 0; /* 가로 */
}

.top-bar{
	position: relative;
	top: -90px;
	padding-left: 40px;
}

.cover {
  width: 480px; /* 화면 크기 500px */
  height: auto;
  background-color: #f4f4f4; /* 배경색 */
  border-radius: 2%; /* 테두리 둥글게 */
  margin-top: 30px;
}

.cover header {
  display: flex; /* Flexbox로 설정해 각 내용 위치 고정 */
  justify-content: space-between; /* 내용 각 끝에 위치 */
}

header .month-name {
  font-size: 30px; /* 폰트 크기 */
  font-weight: 600; /* 폰트 두께 */
  position: relative; /* 각각 위치 지정 위해 필요 */
  top: -10px; /* 상단 -10px 위로 이동 */
  left: 25px; /* 왼쪽-10px 이동 */
}

header .month-btn button {
  height: 35px; /* 높이 */
  width: 30px; /* 너비 */
  color: #878787; /* 텍스트 색 */
  font-size: 25px; /* 텍스트 크기 */
  text-align: center; /* 텍스트 가운데 정렬 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
  border-radius: 30%; /* 테두리 둥글게 */
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
}

header .month-btn button:hover {
  background: white; /* 버튼에 마우스를 올렸을 때 배경색 변경 */
}

header .month-btn button:last-child {
  margin-right: -10px; /* 마지막 버튼에 오른쪽 여백을 -10px 설정 */
}

.amount-box {
  font-size: 14px; /* 텍스트 크기 */
  position: relative; /* 상대적 위치 설정 */
  top: 110px; /* 상단 110px 위로 이동 */
  left: -375px; /* 왼쪽 -375px 이동 */
}

.expense-box {
  font-size: 14px; /* 텍스트 크기 설정 */
  position: relative; /* 각각 위치 지정 위해 필요 */
  top: 70px; /* 상단에서 70px 위로 위치 이동 */
  right: 180px; /* 오른쪽에서 180px 위치 이동 */
}

.calendar {
  padding: 10px; /* 캘린더 여백 설정 */
}

.calendar ul {
  display: flex; /* 캘린더 리스트를 Flexbox로 설정 */
  list-style: none; /* 기본 리스트 스타일 제거 */
  flex-wrap: wrap; /* 날짜 각각 넓이 지정 */
}

.calendar .days {
  margin-bottom: 10px; /* 아래 여백 설정 */
}

.calendar .weeks li {
  font-weight: 600; /*텍스트트 두께 설정 */
  left: -5px; /* 왼쪽으로 5px 이동 */
  margin: 0 0 -35px 0; /* 날짜와의 간격 35px 설정 */
}

.calendar ul li {
  position: relative; /*  각각 위치 지정 위해 필요 */
  width: calc(100% / 7); /* 7일로 나누어 1칸의 너비 설정 */
  height: 33px; /* 높이 설정 */
  line-height: 45px; /* 텍스트 세로 정렬 */
}

.calendar .days li {
  height: 50px; /* 날짜 셀의 높이를 50px로 설정 */
  z-index: 1; /* 배경 앞으로 글자 위치치 */
  cursor: pointer; /* 클릭 시 포인터 커서 */
  margin-top: 30px; /* 상단 여백*/
}

/* 이전/다음달 날짜 스타일 */
.days li.inactive {
  color: #aaa; /* 텍스트 색상 */
}

/* 오늘 날짜 스타일 */
.days li.active {
  color: #fff; /* 텍스트 색상 */
  font-weight: bold; /*텍스트 굵게 */
}

/* 날짜 모양 스타일 */
.calendar .days li::before {
  position: absolute; /*  각각 위치 지정 위해 필요 */
  content: ""; /* 내용 없음 */
  height: 30px; /* 높이 */
  width: 40px; /* 너비 */
  top: 50%; /* 상단 50% 위치 */
  left: 15%; /* 왼쪽 15% 위치 */
  z-index: -1; /* 배경 날짜 뒤로 배치 */
  border-radius: 20%; /* 둥근 배경 설정 */
  transform: translate(-50%, -50%); /* 정확히 가운데로 위치시킴 */
}

/* 날짜 hover 효과 */
.days li:hover::before {
  background: #f2f2f2; /* hover 시 배경색 변경 */
}

/* 오늘 날짜 배경색 */
.days li.active::before {
  background: #f9c74f; /* 오늘 날짜 배경색 설정 */
}

/* 추가 버튼 */
.add-btn {
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  color: white; /* 텍스트 색상 */
  background-color: #1ec800; /* 배경색 */
  cursor: pointer; /* 클릭 시 포인터 커서 */
  position: absolute; /* 절대 위치로 설정; */
  transform: translate(
    530%,
    750%
  ); /* 버튼의 위치를 고정, 페이지 크기에 따라 변동 가능 */
  height: 40px; /* 높이 */
  width: 40px; /* 너비 */
  border-radius: 50%; /* 원형 설정 */
}

/*  팝업창 스타일 */
.modal {
  display: none; /* 기본적으로 모달 숨기기 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 280px;
  height: 400px;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50% -50%);
  background-color: white; /* 배경색 */
  z-index: 10; /* 맨앞으로 위치 */
}

#money {
  color: black;
  background-color: #f4f4f4;
  font-size: 18px;
  text-align: right;
  height: 70px;
  margin-top: 30px;
  border-radius: 3px; /* 테두리 둥글게 */
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
}
#memo {
  color: black;
  background-color: #f4f4f4;
  text-align: right;
  height: 30px;
  border-radius: 3px; /* 테두리 둥글게 */
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
}

/* 비활성화된 버튼 스타일 */
button.disabled {
  background-color: #ddd; /* 비활성화된 버튼 색상 */
  cursor: not-allowed;    /* 커서 모양 변경 */
  pointer-events: none;   /* 클릭 이벤트 무시 */
}

.income-btn,
.expense-btn {
  color: white;
  background-color: #007bff;
  width: 108px;
  height: 30px;
  margin-top: 10px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}

/* 선택한 버튼 */
.income-btn.active,
.expense-btn.active {
  background-color:  #007bff;
}

/* 숨기기 위한 클래스 */
.hidden {
  display: none;
}

.cash-btn,
.debit-btn,
.credit-btn {
  color: white;
  background-color: #007bff;
  width: 70px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}

.card-category select,
.category select {
  width: 220px;
  height: 30px;
  margin-bottom: 10px;
}

.close-btn {
  color: white;
  background-color: #1ec800;
  margin-top: 30px;
  margin-bottom: 0;
  width: 70px;
  height: 30px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}
