/* 모든 페이지의 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* 모든 요소에 border와 padding이 포함된 크기를 적용 */
}

body {
  height: 100vh; /* 화면 전체 높이 사용 */
  display: flex;
  flex-direction: column; /* 세로 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  margin: 0; /* 기본 여백을 제거 */
}


/* 전체 데일리 섹션 */
.daily {
  width: 500px;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  flex-direction: row; /* 가로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 설정 */
}

.daily h1 {
  font-size: 18px;
  position: absolute;
  top: 15px; /* 상단에서 15px 위치 */
  left: 65px; /* 왼쪽에서 65px 위치 */
  transform: translate(-50%, -50%); /* 정확하게 중앙 정렬 */
}

/* 주간달력 */
.weekend {
  width: 70px;
  height: 280px;
  display: flex;
  flex-direction: column; /* 세로 배치 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  transform: translateY(-15px); /* 위로 이동 */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 설정 */
}

/* 주간 버튼 */
.weekend button {
  width: 50px;
  color: white;
  background-color: #007bff;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer; /* 클릭 가능 표시 */
}

/* 주간날짜 리스트*/
.weekdays {
  width: 60px;
  margin-top: 5px;
  margin-left: -42px; /* 왼쪽으로 이동 */
}

/* 각 날짜 항목 */
.weekdays li {
  height: 10px;
  margin-top: 5px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  text-align: justify; /* 텍스트 양쪽 끝 정렬 */
  cursor: pointer; /* 클릭 가능 표시 */
}

/* 선택된 날짜 스타일 */
.weekdays li.day.selected {
  color: #1ec800;
  border-radius: 5px;
}

/* 선택된 날짜 수입 금액에 대한 스타일 */
.income {
  color: green;
}

/* 선택된 날짜 지출 금액에 대한 스타일 */
.expense {
  color: red;
}

.details h2 {
  position: fixed;
  margin-top: -45px;
  margin-left: 8px;
  font-size: 25px;
  color: black;
}

/* 수입 */
.income {
  width: 170px;
  min-height: 360px;
  margin: 5px;
  margin-bottom: 24px; /* 총 수입과의 간격 */
  padding: 1px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

/* 지출 */
.expense {
  width: 170px;
  min-height: 360px;
  margin: 5px;
  padding: 1px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

/* 총 잔액/지출 부분 */
.incometotal-box,
.expensetotal-box {
  width: 170px;
  height: auto;
  border-radius: 8px;
  font-size: 14px;
  text-align: right;
  white-space: normal;
  margin-left: 5px; /* 왼쪽으로 이동 */
  background-color: #f4f4f4;
}

.total-income,
.total-expense {
  font-weight: bold;
}

.total-cash,
.total-card {
  font-weight: normal;
}

/* 추가 버튼 */
.add-btn {
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  color: white; /* 텍스트 색상 */
  background-color: #1ec800; /* 배경색 */
  cursor: pointer; /* 클릭 시 포인터 커서 */
  position: absolute; /* 절대 위치로 설정; */
  transform: translate(
    480%,
    600%
  ); /* 버튼의 위치를 고정, 페이지 크기에 따라 변동 가능 */
  height: 40px; /* 높이 */
  width: 40px; /* 너비 */
  border-radius: 50%; /* 원형 설정 */
}

/*  팝업창 스타일 */
.modal {
  display: none; /* 기본적으로 모달 숨기기 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 280px;
  height: 400px;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50% -50%);
  background-color: white; /* 배경색 */
  z-index: 10; /* 맨앞으로 위치 */
}

#money {
  color: black;
  background-color: #f4f4f4;
  font-size: 18px;
  text-align: right;
  height: 70px;
  margin-top: 30px;
  border-radius: 3px; /* 테두리 둥글게 */
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
}
#memo {
  color: black;
  background-color: #f4f4f4;
  text-align: right;
  height: 30px;
  border-radius: 3px; /* 테두리 둥글게 */
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
}

/* 비활성화된 버튼 스타일 */
button.disabled {
  background-color: #ddd; /* 비활성화된 버튼 색상 */
  cursor: not-allowed;    /* 커서 모양 변경 */
  pointer-events: none;   /* 클릭 이벤트 무시 */
}

.income-btn,
.expense-btn {
  color: white;
  background-color: #007bff;
  width: 108px;
  height: 30px;
  margin-top: 10px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}

/* 선택한 버튼 */
.income-btn.active,
.expense-btn.active {
  background-color:  #007bff;
}

/* 숨기기 위한 클래스 */
.hidden {
  display: none;
}

.cash-btn,
.debit-btn,
.credit-btn {
  color: white;
  background-color: #007bff;
  width: 70px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}

.card-category select,
.category select {
  width: 220px;
  height: 30px;
  margin-bottom: 10px;
}

.close-btn {
  color: white;
  background-color: #1ec800;
  margin-top: 30px;
  margin-bottom: 0;
  width: 70px;
  height: 30px;
  outline: none; /* 외곽선 제거 */
  border: none; /* 테두리 제거 */
  border-radius: 3px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스를 올리면 커서가 포인터로 바뀌도록 설정 */
}