/* 헤더 스타일 */
.header {
  display: flex; /* 가로로 배치 */
  align-items: center; /* 세로 중앙에 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  margin: 0 auto; /* 수평 중앙 정렬 */
  width: 500px; /* 가로크기 */
  position: relative;
}

/* 검색창 스타일 */
.header input[type="text"] {
  padding: 10px; /* 세로크기 */
  border-radius: 10px; /* 둥굴게 */
  width: 300px;
  margin-right: 10px; /* 오른쪽 여백 */
}

/* 메뉴 스타일 */
.menu-toggle {
  cursor: pointer; /* 클릭 가능 표시 */
}

.menu {
  display: none; /*메뉴 내용 숨기기*/
  position: absolute;
  top: 70%;
  right: 0;
  left: 75%;
  width: 100%;
  margin: 0;
}

.menu a {
  color: black;
  text-decoration: none; /* 밑줄 제거*/
  padding: 5px 10px; /* 위아래, 좌우 여백 */
  display: block;
}
